# Dependencies
node_modules/
.venv/
__pycache__/
*.pyc

# Env
.env
.env.local

# Build
.next/
out/
dist/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Docker
singlestore_data/

# Misc
*.log
.gstack/
*.pem
